.baoku {
  height: 100%;
  background-color: #008dc8;
  iframe {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
  }
}

.ios .baoku {
  padding-top: 22PX;
}

.iosx .baoku {
  padding-top: 44PX;
}