.tabs {
	.title {
		display: flex;
		height: 150px;
		margin: 0;
		padding: 0;
		li {
			flex: 1;
			height: 150px;
			padding: 0 98px 0 40px;
			line-height: 150px;
			list-style: none;
			text-align: center;
			.icon-checked {
				display: none;
			}
		}
		li:first-child {
			text-align: left;
		}
		li:last-child {
			text-align: right;
		}
		li.active {
			.icon-check {
				display: none;
			}
			.icon-checked {
				display: inline-block;
				color: #ff8928;
			}
		}
	}
}