.tost {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,0);
	.tost-item {
		margin: 10px 0;
		text-align: center;
		p {
			display: inline-block;
			margin: 0;
			padding: 20px 40px;
			border-radius: 10px;
			color: #fff;
			background-color: rgba(0, 0, 0, 0.5);
		}
	}
}